<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link href="../styles.css" rel="stylesheet" type="text/css">
</head>

	

<body>
	<div class="container">
	<h1>CONTACTS PAGE.</h1>
	<div class = "form-data">
		<form action="/contacts" method="post">
\			<div class="form-input">
\				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>

			<div class="form-input">
\				<input type="email" id="email" placeholder="Email"
					value="" name="email" required>
			</div>
			
			
			<div class="form-input">
\				<textarea id="message" name="message" value=""
						placeholder="Input Message" required>
				</textarea>
			</div>
\			<div class="form-button">
				<button type="submit" name="submit">Submit</button>
			</div>
		</form>
	</div>
<div class="image-box">

	<h1 class="image-box-title">CONTACT DETAILS IN THE DATABASE</h1>

	<div class="image-container">

      <% items.forEach(function(item) { %>
        <div class="image-card">
          <p><%= item.name%></p>
          <p class=" image-title"> <%= item.email %> :<%= item.message %> </p>
		</div>    
      <% }); %>
	</div>

	</div>
	</div>

</body>

</html>
