<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link href="../styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="image-box">

	<h1 class="image-box-title">EXPERIENCES DETAILS IN THE DATABASE</h1>

	<div class="image-container">

      <% items.forEach(function(item) { %>
        <div class="image-card">
          <p><%= item.year%>:<%= item.type %> :<%= item.message %></p>
		</div>    
      <% }); %>
	</div>

	</div>

</body>

</html>
