<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link href="../styles.css" rel="stylesheet" type="text/css">
</head>


<body>
	<div class="body-form">
	<h1>WORK EXPERIENCE PAGE.</h1>
		<form action="/workExperiences" method="post">
			<div class="form-input">
				<input type="text" id="name" placeholder="Name"
					value="" name="name" required>
			</div>

			<div class="form-input">
				<input type="company" id="company" placeholder="Company"
					value="" name="company" required>
			</div>
			
			
			<div class="form-input">
				<textarea id="description" name="description" value=""
						placeholder="Input Description" required>
				</textarea>
			</div>
			<div class="form-button">
				<button type="submit" name="submit">Submit</button>
			</div>
		</form>
<div class="image-box">

	<h1 class="image-box-title">WORK EXPERIENCE DETAILS IN THE DATABASE</h1>

	<div class="image-container">

      <% items.forEach(function(item) { %>
        <div class="image-card">
          <p><%= item.name%></p>
          <p class=" image-title"> <%= item.company %> :<%= item.description %> </p>
		</div>    
      <% }); %>
	</div>
	</div>
	</div>

</body>

</html>
