<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Image Uploading</title>
	<link href="../styles.css" rel="stylesheet" type="text/css">
</head>
<style>
	.tags-div{
		display:flex;
		flex-direction: row;
		justify-content: center;
	}

	.tags-div input{
		width:auto;
		margin:0px 12.5px;
	}
</style>
<body>
	<div class="container">
	<h1>WORKS PAGE.</h1>
		<form action="/works" method="post" enctype="multipart/form-data">
			<div class="form-input">
				<input type="text" id="title" placeholder="What is your preferred title?"
					value="" name="title" required>
			</div>
			<div class="form-input">
				<input type="text" id="description" placeholder=" Input description"
					value="" name="description" required>
			</div>
			<div class="form-input">
				<input type="text" id="projectLink" placeholder="projectLink"
					value="" name="projectLink" required>
			</div>
			<div class="form-input">
				<input type="text" id="codeLink" placeholder="codeLink"
					value="" name="codeLink" required>
			</div>
			
			<div class=" form-input image">
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			
			<div class="form-input tags-div" >
				<input type="text" id="tag"   placeholder="tag_1"
					value="" name="tags[]" required>
				<input type="text" id="tag" placeholder="tag_2"
					value="" name="tags[]" required>	
			</div>
			
			<div class="form-button">
				<button type="submit" name="submit">Submit</button>
			</div>
		</form>
<div class="image-box">

	<h1 class="image-box-title">IMAGES IN THE DATABASE</h1>

	<div class="image-container">

      <% items.forEach(function(item) { %>
        <div class="image-card">
          <img src =<%= item.imageUrl %> alt= "AboutUs Image"></img>
          <p class=" image-title"> <%= item.title %></p>
		</div>    
      <% }); %>
	</div>

	</div>
	</div>

</body>

</html>
